
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (TempData["Mensagem"] != null)
{
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">x</button>
    @TempData["Mensagem"]
</div>
}